{% load staticfiles %}

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!--从当前页面，引入模块加载器esl.js-->
    <script src="js/esl.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width:600px;height:400px;border:1px solid #F00""></div>
    <script type="text/javascript">
        // 为模块加载器配置echarts的路径，从当前页面链接到echarts.js，定义所需的图表路径
        require.config({
            packages: [
                {
                    name: 'eCharts',
                    location: 'js/',      
                    main: 'eCharts'
                }
            ]
        });
        
        // 使用
        require(
            [
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('main')); 
                
                var option = {
                    tooltip: {
                        show: true
                    },
                    legend: {
                        data:['销量']
                    },
                    xAxis : [
                        {
                            type : 'category',
                            data : ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value'
                        }
                    ],
                    series : [
                        {
                            "name":"销量",
                            "type":"bar",
                            "data":[5, 20, 40, 10, 10, 20]
                        }
                    ]
                };
        
                // 为echarts对象加载数据 
                myChart.setOption(option); 
            }
        );
    </script>
</body>
</html>